<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Eddie Cheung", "https://www.linkedin.com/in/eddie-cheung-26562a8/", class: "text-white" %></small>
  </div>
</footer>